*{
 position:relative;
    padding: 0;
    margin: 0;
    /* overflow: hidden;
    padding-bottom: -5550px; */
    height: 60px;

}
.divimg{
    background-image: url(3319.jpg);height: 90vh;
    text-align: center;
    padding: 200px;
    color: aliceblue;
    justify-content: space-around;
}
.medoinpu{
    height: 15px;
    padding: 15px;
}
.forminp{
    display:flex;
    gap: 50px;
    padding-top: 25px;
    display: block;
    text-align: center;
}
a{
    text-decoration: none;
    color: aliceblue;
    border: none;
}
.h1p{
    background-color: blueviolet;
    width: 300px;
    margin: 25px;
    margin-left: 330px;
    border-radius: 10px;
    position:static;
    padding: 10px;
}
.connecter{
    background-color: blueviolet;
    width: 300px;
    margin: 25px;
    margin-left: 330px;
    border-radius: 10px;
    position:static;
}
input{
    border-top: none;
    border-left: none;
    border-radius: 5px;
}